#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

* {
  margin: 0px !important;
  color: #fffffe !important;
  background-color: #0f0e17 !important ;
  line-height: 1.5;
}

.intro{
  background-color: none !important;
}